trigger:
  branches:
    include:
    - '*' # must quote since "*" is a YAML reserved character; we want a string
  paths:
    exclude:
    - '*.md'
    - 'docs'
    - '.github'

pool:
  vmImage: 'windows-latest'

steps:
- task: UseDotNet@2
  displayName: 'Use .NET 6 sdk'
  inputs:
    packageType: sdk
    version: 6.0.x
- task: UseDotNet@2
  displayName: 'Use .NET 7 sdk'
  inputs:
    packageType: sdk
    version: 7.0.x
- task: UseDotNet@2
  displayName: 'Use .NET 8 sdk'
  inputs:
    packageType: sdk
    version: 8.0.x
- task: UseDotNet@2
  displayName: 'Use .NET 9 sdk'
  inputs:
    packageType: sdk
    version: 9.0.x
    includePreviewVersions: true # Required for preview versions

- script: dotnet --info
  displayName: 'dotnet info'

- powershell: ./build.ps1
  displayName: 'Powershell Script'
  env:
    Nuget__ApiKey: $(nugetApiKey)

# Publish code coverage results v2
# Publish any of the code coverage results from a build.
- task: PublishCodeCoverageResults@2
  inputs:
    summaryFileLocation: "$(System.DefaultWorkingDirectory)/**/coverage.cobertura.xml" # string. Required. Path to summary files. 
    #pathToSources: # string. Path to Source files. 
    #failIfCoverageEmpty: false # boolean. Fail if code coverage results are missing. Default: false.