name: default

on:
  push:
    branches:
      - "main"
      - "master"
      - "dev"
  pull_request:
    # The branches below must be a subset of the branches above
    branches:
      - "main"
      - "master"
      - "dev"

jobs:
  build:
    name: Running tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      # max-parallel: 1
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0.x
          9.0.x
          10.0.x
    - name: dotnet info
      run: dotnet --info
    - name: build
      run: dotnet build.cs --target=build
