name: Release
on:
  workflow_dispatch:
  push:
    branches: [ master ]
jobs:
  build:
    name: Release
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0.x
          9.0.x
          10.0.x
    - name: Build
      shell: pwsh
      run: dotnet build.cs --stable=true
    - name: Get Release Version
      shell: pwsh
      run: dotnet-exec ./build/exportReleaseVersion.cs
    - name: create release
      shell: pwsh
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release create ${{ env.ReleaseVersion }} --generate-notes --target master
